<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>David Luu</string>
	<key>Builder Version</key>
	<string>7537.73.11</string>
	<key>CFBundleDisplayName</key>
	<string>TextBelter</string>
	<key>CFBundleIdentifier</key>
	<string>com.cuuldesigns.safari.textbelter</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>textbelter-extensionbar.html</string>
				<key>Identifier</key>
				<string>TextBelter</string>
				<key>Label</key>
				<string>TextBelter</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>background.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>background.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Send free SMS text messages w/o registration and minimal limits</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>www.textbelt.com</string>
				<string>github.com</string>
				<string>raw.githubusercontent.com</string>
				<string>add0n.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/daluu/textbelt-clients/master/textbelter-safari-update.plist</string>
	<key>Website</key>
	<string>https://github.com/daluu/textbelt-clients</string>
</dict>
</plist>
